// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
$enable-negative-margins: true;
@import '_variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'bootswatch';
@import 'profile';
@import 'schedule';
@import 'school_layout';

// Global CSS
.breadcrumb-item::before {
    font-family: 'FontAwesome';
}

.count-message {
    margin-top: -20px;
    margin-right: 5px;
    font-size: .8em;
}

.no-resize {
    resize: none;
}

.show-as-action
{
    cursor: pointer;
}

select[multiple]
{
    overflow-y: auto;
}

.text-sm
{
    font-size: 0.8rem;
}

.campus-back-img
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.blueprint-container
{
    position: relative;
    width: 600px;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
}

.text-bright-alert
{
    color: red;
}

.glowing
{
    animation-name: pulse-glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse-glow {
    0% {
        opacity: 50%;
        transform: scale(1);
    }
    50% {
        opacity: 100%;
        transform: scale(1.2);
    }
    100% {
        opacity: 50%;
        transform: scale(1);
    }
}

// Notifications
.notification
{
    border-width: 1px;
    border-style: solid;
    padding: 0 !important;
    margin-bottom: 0.25em;
}

.notification:hover
{
    opacity: 0.8;
}

.notification-header
{
    font-size: 1.0em;
    font-weight: bold;
    width: 100%;
    padding: 0.2em 0.5em 0 0.5em;
}

.notification-body
{
    padding: 0.5em;
    font-size: 0.8em;
    background-color: white;
    color: black;
}

// Additional Mixins
$campus-icon-sizes: ("xl": 3em, "large": 2em, "normal": 1em, "small": 0.5em, "tiny": 0.25em);
@each $name, $size in $campus-icon-sizes {
    .campus-icon-#{$name} {
        max-width: $size;
        width: $size;
    }
    .campus-icon-#{$name} svg{
        fill: currentColor;
    }
}

$img-icon-sizes: ("xl": 256px, "large": 128px, "normal": 64px, "small": 32px, "tiny": 16px);
@each $name, $size in $img-icon-sizes {
    .img-icon-#{$name} {
        max-width: $size;
        width: $size;
    }
}

@each $name, $color in $theme-colors
{
    .glow-#{$name}
    {
        border-color: $color;
        animation-name: animate-glow-#{$name};
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes animate-glow-#{$name} {
        0%, 100% {
            box-shadow: 0 0 5px $color;
        }
        25%, 75%
        {
            box-shadow: 0 0 10px $color;
        }
        50% {
            box-shadow: 0 0 15px $color;
        }
    }
}




